/* Resets */
* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
html,body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* make images easier to work with */
/* img,
picture {
    max-width: 100%;
    display: block;
} */

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ****************** Base Styles  **************** */
:root {
  --clr-dark: hsl(0, 0%, 8%);
  --clr-grey: hsl(0, 0%, 41%);
  --clr-light: hsl(0, 0%, 98%);
  --bp-mobile: 375px;
  --bp-desktop: 1440px;
}
html {
  background-color: var(--clr-light);
}
body{ 
  font-weight: 500;
  font-family: 'Epilogue';
  color: var(--clr-grey);
}
h1 {
  font-weight: 700;
  color:var(--clr-dark);
  font-size: 80px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

/* *************   Appbar Section ***********  */
#appbar {
  display: flex;
  justify-content: space-between;
  padding: 32px 40px;
  font-size: 14px;
  user-select: none;
}
.logo {
  padding-right: 56px;
}
.appbar-item {
  vertical-align: top;
  margin-right: 40px;
  position:relative;
}
.arrow::after {
  content: url("./images/icon-arrow-down.svg");
  margin-left: 8px;

}
.login {
  margin-right: 8px;
  padding: 12px 24px;
}
.register {
  padding: 12px 24px;
  border: 2px var(--clr-grey) solid;
  border-radius: 16px;
}
.appbar-item:hover, .appbar-item:hover::after, .login:hover, .register:hover, .dropdown a:hover {
  color: var(--clr-dark);
}
.register:hover {
  border-color: var(--clr-dark);
}
.dropdown {
  display: none;
  position: absolute;
  top: 36px;
  filter: drop-shadow(0 12px 16px rgba(0, 0, 0, 0.15));
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  color: var(--clr-grey);
} 
#features-dropdown { right: 0px; min-width: 100px;}
#company-dropdown { left: 0px; min-width: 72px;}
.dropdown * {
  display: block;
  vertical-align: top;
}
.dropdown > * + * {
  margin-top:  16px;
}
.dropdown-icon {
  display: inline !important;
  margin-right: 12px;
}
.show {
  display: block !important
}

/* ******************** Content Section ********************** */
main {
  padding: 36px 160px;
  display: flex;
  justify-content: space-between;
}
.main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 100px;
}
.main-left > * + * {
  margin-top: 56px;
}
.description-section {
  padding-right: 92px;
}
.link-section {
  padding-top: 16px;
  padding-bottom: 16px;
}
.learn-more {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  border: 2px var(--clr-dark) solid;
  border-radius: 16px;
  padding: 16px 30px;
  font-weight: 700;
}
.learn-more:hover {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
.clients {
  padding-top: 40px;
}
.clients * {
  margin-bottom: 8px;
}
.clients > * + * {
  margin-left: 36px;
}
.main-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.main-right img{
  width: 496px;
  object-fit: contain;
}

/* ******************** Footer Section ********************** */
.attribution { 
  flex-grow: 1;
  font-size: 11px; 
  text-align: center; 
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 48px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}