/* Resets */
* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
html,body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* make images easier to work with */
/* img,
picture {
    max-width: 100%;
    display: block;
} */

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ****************** Base Styles  **************** */
:root {
  --clr-dark: hsl(0, 0%, 8%);
  --clr-grey: hsl(0, 0%, 41%);
  --clr-light: hsl(0, 0%, 98%);
  --bp-mobile: 375px;
  --bp-desktop: 1440px;
}
html {
  background-color: var(--clr-light);
}
body{ 
  font-weight: 500;
  font-family: 'Epilogue';
  color: var(--clr-grey);
}
h1 {
  font-weight: 700;
  color:var(--clr-dark);
  font-size: 80px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

/* *************   Appbar Section ***********  */
#appbar {
  display: flex;
  justify-content: space-between;
  padding: 32px 40px;
  font-size: 14px;
  user-select: none;
  background-color: var(--clr-light);
}
.appbar-left {
  display: flex;
  flex-grow: 1;
}
.hide {
  display: none;
}
.logo {
  padding-right: 56px;
  object-fit: contain;
}
.appbar-item {
  vertical-align: top;
  margin-right: 40px;
  position:relative;
}
.arrow-down::after {
  content: url("./images/icon-arrow-down.svg");
  margin-left: 8px;
}
.arrow-up::after {
  content: url("./images/icon-arrow-up.svg");
  margin-left: 8px;
}
.login {
  margin-right: 8px;
  padding: 12px 24px;
}
.register {
  padding: 12px 24px;
  border: 2px var(--clr-grey) solid;
  border-radius: 16px;
}
.appbar-item:hover, .appbar-item:hover::after, .login:hover, .register:hover, .dropdown a:hover, .menu-link:hover, .menu-link:hover::after,
.appbar-item:focus, .appbar-item:focus::after, .login:focus, .register:focus, .dropdown a:focus, .menu-link:focus, .menu-link:focus::after
{
  color: var(--clr-dark);
}
.register:hover, .register:focus {
  border-color: var(--clr-dark);
}
.dropdown {
  position: absolute;
  top: 36px;
  filter: drop-shadow(0 12px 16px rgba(0, 0, 0, 0.15));
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  color: var(--clr-grey);
} 
#features-dropdown { right: 0px; min-width: 100px;}
#company-dropdown { left: 0px; min-width: 72px;}
.dropdown * {
  display: block;
  vertical-align: top;
}
.dropdown > * + * {
  margin-top:  16px;
}
.dropdown-icon {
  display: inline !important;
  margin-right: 12px;
}
.show {
  display: block !important
}

/* ******************** Content Section ********************** */
main {
  padding: 36px 160px;
  display: flex;
  justify-content: space-between;
}
.main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 100px;
}
.main-left > * + * {
  margin-top: 56px;
}
.description-section {
  padding-right: 92px;
}
.link-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.learn-more {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  border: 2px var(--clr-dark) solid;
  border-radius: 16px;
  padding: 16px 30px;
  font-weight: 700;
}
.learn-more:hover, .learn-more:focus {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
.clients {
  padding-top: 40px;
  display: flex;
}
.clients > * {
  margin-bottom: 8px;
  vertical-align: middle;
  height: 40px;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.clients img {
  vertical-align: middle;
  object-fit: contain;
}
.clients > * + * {
  margin-left: 36px;
}
.main-right {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
  position: relative;
}
.hero{
  max-width: 496px;
  object-fit: contain;
  overflow: hidden;
}

/* ******************** Footer Section ********************** */
.attribution { 
  flex-grow: 1;
  font-size: 11px; 
  text-align: center; 
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 48px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/********* Mobile ************/
#mobile-menu { 
  position: fixed;
  height: 100vh;
  padding: 20px 24px;
  width: 50%;
  right: 0;
  z-index: 200;
  background-color: var(--clr-light);
}
#mobile-menu > * + * {
  margin-top: 24px;
}
.mobile-links {
  font-size: 20px;
}
.dimmer {
    background: #000;
    opacity: 0.65;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.disable-scroll {
  overflow: hidden;
}
.close-menu {
  display: flex;
  justify-content: flex-end;
  height: 36px;
  text-align: right;
}
.close-menu img {
  object-fit: contain;
  height: 28px;
  width: 28px;
  margin-right: -4px;
}
.menu-button {
  text-align: center;
  padding-top: 12px;
}
.dropdown-mobile {
  margin-left: 24px;
}
.dropdown-mobile > * {
  margin-top: 24px;
}

/* Breakpoints */
@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 64px;
  }
  main {
    padding: 24px 64px;
  }
  .hero {
    max-width: 100%;
  }
  .main-left > * + * {
    margin-top: 24px;
  }
  .main-left {
    margin-right: 36px;
  }
}
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  #appbar {
    padding: 24px 20px;
  }
  main {
    padding: 0px 0px;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .main-left {
    margin-right: 0px;
    margin-top: 36px;
    text-align: center;
  }
  .description-section {
    padding: 0px 12px;
  }
  .clients {
    padding: 20px 16px 0px;
    height: 56px;
    display: flex;
  }
  .clients > * {
    width: 25%;
    height: 28px;
  }
  .clients img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .clients > * + * {
    margin-left: 20px;
  }
  .main-right img{
    width: 100%;
    max-width: none;
  }
}
